doctype html
html
    head
        title= book.title
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    include ./includes/header.jade
    body.book-page
        .container.book-div
            h1.book-title= book.title
            p.book-desc= book.description
            p.location-lbl Available in
            p.book-city= location
            p.request-book.hide(id=book.id) REQUEST BOOK
        script(type="text/javascript" src="/common/ajax-functions.js")
        script(type="text/javascript" src="/controllers/userController.client.js")
        script(type="text/javascript" src="/client/js/jquery.min.js")
        script(type="text/javascript" src="/socket.io/socket.io.js")
        script(type="text/javascript" src="/client/js/socketFunctions.js")